
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* /////////////////////////////////////////////////////////////////////// */

@font-face {
    font-family: Norse;
    src: local(''),url('../font/Norse-Bold.otf');
  }

@font-face {
    font-family: Araboto;
    src: local(''),url(../font/Araboto-Medium-400.otf);
}

@font-face {
    font-family: AraL;
    src: local(''),url(../font/Araboto-Light-400.otf);
}

  :root{
    --background-color:#f9fafb;
    --background-color-two: #ffffff;
  }
/* ///////////////// */
body{
    display: flex;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    font-family: Araboto;
}

.container .container-1{
    position: relative;
}
#background-image{
    height:100vh;
    width: 29vw;
}

#gray-div{
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top:23%;
    z-index: 1;
    width: 29vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.4rem;
    height: 16%;
}

#logo{
    width: auto;
    height: 80%;
}

#odin{
    font-size: 5.7rem;
    color: white;
    font-family: Norse;
}

.container-2{
    display: flex;
    flex-direction: column;
    width: 71vw;
}

.right-1{
    background-color: var(--background-color);
    flex:2;
    display: flex;
    flex-direction: column;
    padding: 2% 4% 2%;
    justify-content: space-evenly;
}

.intro{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
}

#em{
    font-style: italic;
}

.right-2{
    background-color: var(--background-color-two);
    height:10vh;
    flex:2;
    display: flex;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2));
    padding: 2% 4%;
}


/* //////////////////////////////// */

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:35vw;
}

form > div {
    display: flex;
    justify-content:space-between;
}


.upper, .lower{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap:0.4rem;
}

label {
    font-family: AraL;
    font-size: 0.9rem;
    color: #66686b;
    font-weight: 600;
}

legend{
    color:#32373d;
    font-weight: 700;
    font-size: 1.8rem;
}

input{
    width:13vw;
    height:2.5vh;
    border-radius: 3px;
    box-shadow: inset 1px 1px 3px #ccc;
    border-radius: 5px;
    font-family: Araboto;
    font-weight: 300;
    color: #25272c;
    font-size: 1rem;
    padding: 2% ;
}

input[type="password"]:invalid{
    border: 2px solid red;
}

#passwordMatch{
    font:AraL;
    font-weight: 100;
    font-size: 1rem;
    color:red;
}

/* /////////////////////////////////////////// */

.right-3{
    background-color: var(--background-color);
    height: 10vh;
    flex:2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:8%;
    padding: 0% 5% ;
}

#createacnt{
    padding:1.4%;
    width:11vw;
    background-color: #596d48;
    color: white;
    font-size: 1.3rem;
    border-radius: 0.6rem;
    border:transparent;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2));
}

#alreadyuser{
    font-size: 1.2rem;
    color:#32373d;
}

a {
    text-decoration: none;
    color: #415035;
}

#createacnt:hover{
    background-color: white;
    color: #415035;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.6));
}
